<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Failed Test</h1>
   <table>
    <tr>
        <th>key</th>
        <th>Text</th>
    </tr>
    <tr>
        <td>URL:  </td>
        <td><%= @url %></td>
     </tr>
     <tr>
        <td>Max TTFB:  </td>
        <td><%= @max_ttfb %></td>
     </tr>
     <tr>
        <td>Max TTFP:  </td>
        <td><%= @max_ttfp %></td>
     </tr>
     <tr>
        <td>Max TTI:  </td>
        <td><%= @max_tti %></td>
     </tr>
     <tr>
        <td>Max Speed Index:  </td>
        <td><%= @max_speed_index %></td>
     </tr>
     <tr>
        <td>TTFB:  </td>
        <td><%= @ttfb %></td>
     </tr>
     <tr>
        <td>TTFP:  </td>
        <td><%= @ttfp %></td>
     </tr>
     <tr>
        <td>TTI:  </td>
        <td><%= @tti %></td>
     </tr>
     <tr>
        <td>Speed Index:  </td>
        <td><%= @speed_index %></td>
     </tr>
     <tr>
        <td>Passed:  </td>
        <td><%= @passed %></td>
     </tr>
   </table>
  </body>
</html>